<style>
    h1 { color:red; }
    #name {
        color:blue;
        font-size: large;
    }
</style>
<strong>Hello, {{name}}!</strong>

Successfully Unsubscribed from <h1 id="name">Joseph App</h1>!

:)

