<style>
    h1 { color:red; }
    #name {
        color:blue;     
    }
</style>
<strong>Hello, {{name}}!</strong>

<p>Your password was successfully changed</P> 
<p>Your new password to login is </p><h1 id="name">{{password}}</h1>!

:)

